<!--Pass in @chef as the object-->
<%= render 'shared/errors', object: @chef %>

<div class="row">
	<div class="well col-md-8-offset-2">
		<!--Allow for file upload-->
		<%= form_for @chef do |f| %>
		<%= f.label :chefname %>
		<%= f.text_field :chefname %>
		
		<%= f.label :email %>
		<%= f.email_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>
		
		<!--Ruby boolean; is this a new record, yes or no?-->
		<%= f.submit(@chef.new_record? ? 'Register' : 'Edit Profile', class:"btn btn-success") %>
		<%end %>
	</div>
</div>