<header class="navbar navbar-default nav-bar-fixed-top">
	<div class="container">
		<%= link_to "Mashiso", root_path, id:"logo" %>
				
		<div class="nav_item">
			<%= link_to "About", "/path"%>
		</div>
				
		<% if logged_in? %>

		<!--Display dropdown menu options-->
				<ul class="nav_item">
					<li class="dropdown">
						<%= link_to '#', class:"dropdown-toggle", "data-toggle" => "dropdown" do %>
							<%= current_user.chefname %> <b class="caret"></b>
					<% end %>
						<ul class="dropdown-menu">
							<li><%= link_to "View Profile", chef_path(current_user) %></li>
							<li><%= link_to "Edit Profile", edit_chef_path(current_user) %></li>
							<li role="separator" class="divider"></li>
							<li><%= link_to "Logout", logout_path %></li>
						</ul>
					</li>
				</ul>
			<div class="nav_item">
				<%= link_to "Add recipe", new_recipe_path%>
			</div>
		
			<% else %>			

				<div class="nav_item">
				<%= link_to "Log in", login_path %>
			</div>
			
			<% end %>

		<div class="nav_item">
			<%= link_to "View recipes", recipes_path%>
		</div>

	</div>
</header>