<header class="navbar navbar-default nav-bar-fixed-top">
	<div class="container">
		<%= link_to "Mashiso", root_path, id:"logo" %>
		
		<div class="nav_item">
			<%= link_to "About", "/path"%>
		</div>
		
		<% if logged_in? %>
			<div class="nav_item">
				<%= link_to "Logout", logout_path%>
			</div>

			<div class="nav_item">
				<%= link_to "New recipe", new_recipe_path%>
			</div>

			<% else %>
					<div class="nav_item">
				<%= link_to "Log in", login_path%>
			</div>
		<% end %>
		
		<div class="nav_item">
			<%= link_to "View recipes", recipes_path%>
		</div>
		

	</div>
</header>